@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	background: #eee;
	height: auto;
	letter-spacing: 2px;
}

h1 {
	font-weight: 600;
	font-size: 1.5rem;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-weight: 400;
	font-size: 1.1rem;
	text-transform: capitalize;
	-o-text-overflow: clip;
	text-overflow: clip;
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

main {
	max-width: 900px;
	margin: auto;
	-webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3), -30px 0px 40px rgba(0, 0, 0, 0.3);
	box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3), -30px 0px 40px rgba(0, 0, 0, 0.3);
}

#landing {
	background: #fff;
}

#landing-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 40vw;
	flex: 0 1 40vw;
	height: 50vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
}

#landing-text h2 {
	color: #888;
}

#landing-image {
	background: url(https://images.pexels.com/photos/66100/pexels-photo-66100.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 60vw;
	flex: 0 1 60vw;
	margin: 0;
}

.btn {
	padding: 0.5rem 2rem;
	border: 1px #ccc solid;
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50px;
	text-decoration: none;
	color: #333;
	-webkit-transition: background 500ms ease;
	-o-transition: background 500ms ease;
	transition: background 500ms ease;
}

.btn:hover {
	background: #f4f4f4;
}

#header {
	padding: 1.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}

#header h2 {
	border-left: dotted 1px #fff;
	border-right: dotted 1px #fff;
	display: inline-block;
	padding-right: 1rem;
	padding-left: 1rem;
}

.caption {
	padding: 0.8rem;
	text-align: center;
}

footer {
	text-align: center;
	padding: 2rem 1rem;
	margin: auto;
	color: #333;
}

footer h3 {
	font-size: 1.5rem;
	margin-bottom: 0;
}

@media (min-width: 500px) {
	#landing {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 100%;
	}

	#landing-text {
		height: 100vh;
	}

	#landing-image {
		height: 100vh;
	}
}

@media (min-width: 700px) {
	.btn {
		padding: 1rem 3rem;
	}
}
